.admin_container{
    background-color: #F5F5FA;
    height: 49rem;
    width: 100%;
}
.admin_nav{
    background-color: #FFFFFF;
    display: flex;
    height: auto;
    width: 100%;
    margin-bottom: 20px;
}
.admin_head{
    width: 50%;
    display: flex;
    align-items: center;
}
.admin_profile{
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.admin_left{
    height: auto;
    background-color: #FFFFFF;
    width: 16%
}
.child{
    height: auto;
    padding: 0%;
    margin: 1%;
    width: 100%;
}
.admin_wrapper{
    display: flex;
    background-color: #F5F5FA;
    /* background-color: #cee4da; */
}
.admin_right{
    width: 80%;
    padding: 20px;
    padding-top: 5px;
}
.admin_child{
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 20px;
}